.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 600px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px;
    background-color: var(--color-topic);
    /* background:  */
    border-radius: 3px 3px 3px 20px;
}

/* is contained in topic*/
.textBar {
    display: flex;
    flex-grow: 1;
    overflow-wrap: anywhere;
}

.textBar input {
    flex-grow: 1;
}

.topic:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    position: relative;
    z-index: 25;
    cursor: grab;
}

.topic:active {
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
    padding-left: 25px;
    position: relative;
    z-index: 50;
}

.topic[dropZone="before"]{
    padding-top: 7px;
    padding-left: 20px;
    border-top: 3px blue solid;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.topic[dropZone="inside"]{
    padding-top: 7px;
    padding-bottom:5px;
    padding-left: 17px;
    border-left: 3px blue solid;
    border-top: 3px blue solid;
    border-bottom: 5px blue solid;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.topic[dropZone="after"]{
    padding-left: 20px;
    padding-bottom: 5px;
    border-bottom: 5px blue solid;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.buttonList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}