@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* border: solid 2px; */
  /* padding: 0px; */
  /* margin: 0px; */
}



html {
  height: 100%;

}


#root,
body {
  min-height: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding: 0px;
  margin: 0px;
}

.App {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 10px;
}

.light {
  /* color of the background */
  --color-background: #fafafa;

  /* color of main text */
  --color-primary: #000000;

  /* color of buttons */
  --color-secondary: #efefef;
  --color-secondary-hover: #dddddd;
  --color-secondary-active: #bbbbbb;

  /* color of things that can be noticed, but never distracting (guidelines) */
  --color-guides: #CCCCCC;

  /* color of tasks and topics in different states*/
  --color-topic: antiquewhite;
  --color-task-unfinished1: rgb(168, 249, 168);
  --color-task-unfinished2: rgb(131, 255, 255);
  --color-task-completed1: rgb(168, 255, 50);
  --color-task-completed2: rgb(131, 255, 100);
  --color-task-planned1: rgb(0, 166, 255);
  --color-task-planned2: rgb(155, 243, 255);
  --color-task-repeated1: rgb(209, 130, 248);
  --color-task-repeated2: rgb(145, 107, 253);
  --color-task-impossible1: rgb(252, 137, 137);
  --color-task-impossible2: rgb(230, 190, 190);
  --color-task-irrelevant2: rgb(234, 234, 234);
  --color-task-irrelevant1: rgb(211, 211, 211);

  background-color: var(--color-background);
  color: var(--color-primary);
  width: 100%;
  height: 100%;
}


.dark {
  --color-background: #1f2023;
  --color-primary: #efefef;


  --color-secondary: #3b3f46;
  --color-secondary-hover: #555555;
  --color-secondary-active: #777777;

  /* color of things that can be noticed, but never distracting (guidelines) */
  --color-guides: #666666;

  /* color of tasks and topics in different states*/
  --color-topic: rgb(90, 66, 36);
  --color-task-unfinished1: rgb(124, 149, 63);
  --color-task-unfinished2: rgb(55, 113, 113);
  --color-task-completed1: rgb(26, 130, 0);
  --color-task-completed2: rgb(2, 95, 11);
  --color-task-planned1: rgb(7, 118, 178);
  --color-task-planned2: rgb(24, 118, 134);
  --color-task-repeated1: rgb(99, 0, 144);
  --color-task-repeated2: rgb(31, 0, 117);
  --color-task-impossible1: rgb(119, 19, 19);
  --color-task-impossible2: rgb(77, 43, 43);
  --color-task-irrelevant1: rgb(48, 48, 48);
  --color-task-irrelevant2: rgb(39, 39, 39);

  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 0px;
  width: 100%;
  height: 100%;
}


/*  ViewSelector + View*/
.contents {

  display: grid;
  max-width: 1600px;
  /* padding-left: 0px; */
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(20px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.task-list {
  max-width: 1000px;
  padding: 10px;
  grid-column: 1 / 13;
  grid-row: 3/5;
}


.planned-list {
  max-width: 1000px;
  padding: 10px;
  grid-column: 1 / 13;
  grid-row: 3/5;
}

input {
  font: inherit;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: solid 1px grey;
  padding: 2px 5px;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: solid 1px grey;
  border-radius: 5px;
  padding: 2px 5px;
  font: inherit;
}

button:hover {
  background-color: var(--color-secondary-hover);
}

button:active {
  background-color: var(--color-secondary-active);
}



.view-select {
  grid-column: 1/8;
  grid-row: 2/2;
  color: gray;
}

.view-select h3 {
  float: left;
  width: 80px;
  margin-left: 5px;
  padding: 10px;
  border: solid 2px;
  border-radius: 5px;
  text-align: center;
}

.view-select h3:hover {
  box-shadow: 3px 5px 5px 0px;
}

.importExport {
  grid-row: 1/1;
  grid-column: 1/2;
}



.navbar {
  grid-row: 2/4;
  grid-column: 1/13;
}

nav {
  background-color: yellow;
  padding: 5px;
  /* display:flex; */
  /* align-items:center; */
  border-bottom: 20px;
}

.links {
  color: #FF0000;
  padding: 100px;
}

p {
  color: blue;
}

h1,
h2 {
  color: red;
  border: 2px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

.task-list ul {
  /* margin-left: 10px; */
  /* padding-left: 10px; */
  position: relative;
  /* border: solid 1px; */
}

/* Vertical guidelines for nested lists */
ul ul::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 8px;
  bottom: 3px;
  border-left: 2px dashed var(--color-guides);
}


/* Rotated text for nested lists */
/* ul ul::after {
  content: 'Nested';
  position: absolute;
  top: 50%;
  left: -10px;
  text-align: justify;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: center center;
  border: solid 1px;
  background: white;
  font-size: 12px;
  color: #db0e0e;
} */