/* is contained in taskxxx*/
.textBar {
    display: flex;
    flex-grow: 1;
}

/* is contained in textbar */
.taskText {
    display: flex;
    flex-grow: 1;
    overflow-wrap: anywhere;
}

/* is contained in textbar */
span.topicPath {
    flex-grow: 1;
    text-align: right;
    overflow-wrap: anywhere;
}

/* is contained in button-list */
span.buttonDuplicate:hover {
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
    border-width: 4px;
}

.taskText input[type="text"] {
    box-sizing: border-box;
    flex-grow: 1;
}

/*https://css-tricks.com/useful-flexbox-technique-alignment-shifting-wrapping/*/
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 800px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px 0;
    background: linear-gradient(to right,
            var(--color-task-unfinished1) 0%,
            var(--color-task-unfinished1) 60%,
            var(--color-task-unfinished2) 70%,
            var(--color-task-unfinished2) 100%);
    border-radius: 3px 3px 3px 20px;

}

.task:hover,
.taskCompleted:hover,
.taskPlanned:hover,
.taskRepeated:hover,
.taskScheduled:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    position: relative;
    z-index: 50;
    cursor: grab;
}


.task:active,
.taskCompleted:active,
.taskPlanned:active,
.taskRepeated:active,
.taskScheduled:active {
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
    padding-left: 30px;
    position: relative;
    z-index: 50;
}

.task[draggedOver=true] {
    /* padding-left:100px; */
    border-top-width: 3px;
    border-top-color: blue;
    border-top-style: solid;
    padding-top: 5px;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
}



.taskPlanned {
    max-width: 800px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px 0;
    background: linear-gradient(to right,
            var(--color-task-planned1) 0%,
            var(--color-task-planned2) 60%,
            var(--color-task-planned2) 100%);
    border-radius: 3px 3px 3px 20px;

}

.taskCompleted {
    max-width: 800px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px 0;
    background: linear-gradient(to right,
            var(--color-task-completed1) 0%,
            var(--color-task-completed1) 60%,
            var(--color-task-completed2) 70%,
            var(--color-task-completed2) 100%);
    border-radius: 3px 3px 3px 20px;

}

.taskRepeated {
    max-width: 800px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px 0;
    background: linear-gradient(to right,
            var(--color-task-repeated1) 0%,
            var(--color-task-repeated1) 60%,
            var(--color-task-repeated2) 70%,
            var(--color-task-repeated2) 100%);
    border-radius: 3px 3px 3px 20px;

}

.taskIrrelevant {
    max-width: 800px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px 0;
    background: linear-gradient(to right,
            var(--color-task-irrelevant1) 0%,
            var(--color-task-irrelevant1) 60%,
            var(--color-task-irrelevant2) 70%,
            var(--color-task-irrelevant2) 100%);
    border-radius: 3px 3px 3px 20px;

}

.taskImpossible {
    max-width: 800px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px 0;
    background: linear-gradient(to right,
            var(--color-task-impossible1) 0%,
            var(--color-task-impossible1) 60%,
            var(--color-task-impossible2) 70%,
            var(--color-task-impossible2) 100%);
    border-radius: 3px 3px 3px 20px;

}

.buttonList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

span.buttonDuplicate {
    white-space: nowrap;
    border-radius: 20px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    cursor: copy;
}

@media (max-width: 800px) {
    .task {
        flex-direction: column;
        align-items: stretch;
    }
}

span.foldingButton {
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}