.topic {
    max-width: 600px;
    padding: 10px;
    padding-left: 20px;
    margin: 1px;
    background-color: antiquewhite;
    /* background:  */
    border-radius: 3px 3px 3px 20px;
}

.topic:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    position: relative;
    z-index: 25;
    cursor: grab;
}

.topic:active {
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
    padding-left: 25px;
    position: relative;
    z-index: 50;
}

button.topicAddTask,
button.topicAddTopic,
button.topicDelete,
.topic.topicAddTask {
    float: right;
}